#liste {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    margin: 0 auto;
}

img {
    width: 40vw;
}

.headline h2 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 6rem;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

nav {
    text-align: center;
    padding-bottom: 30px;
}

.menu button {
    border: 1px black solid;
    border-radius: 5px;
}

.valgt {
    background-color: grey;
    color: white;
    font-size: 0.8rem;
}

.visteRetter {
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 7px 7px 10px 1px #c6c6c6;
    border-radius: 10px;
    border: 1px #e2e2e2 solid;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.hidden {
    display: none;
}

#indhold {
    box-sizing: border-box;
    width: 90vw;
    height: 90vw;
    margin: auto;
}

#luk {
    box-sizing: border-box;
    padding-right: 50px;
    color: white;
    z-index: 2;
    text-align: right;
}

#popup {
    background-color: rgba(235, 235, 235, 0.94);
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 10px;
    z-index: 3;
    border-radius: 10px;
    position: fixed;
    text-align: center;
}
